# Database Configuration
DATABASE_URL=psql 'postgresql://neondb_owner:npg_eh09qfTDmuRw@ep-gentle-feather-aiiy5n8h-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# JWT Configuration
JWT_SECRET_KEY=your-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Server Configuration
PORT=8000
