fastapi
uvicorn[standard]
sqlmodel>=0.0.16
psycopg2-binary==2.9.9
pyjwt>=2.10.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart>=0.0.9
better-exceptions==0.3.2
openai-agents
mcp<1.30.0,>=1.20.0
numpy>=1.26.0